<template>
  <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
    <v-card flat>
      <v-toolbar fixed>
        <v-btn icon @click="$emit('close')">
          <v-icon>keyboard_arrow_down</v-icon>
        </v-btn>
        <v-toolbar-title>
            <span>{{ duration }}</span>
        </v-toolbar-title> 

        <v-spacer></v-spacer>

        <v-btn icon @click="confirmCompleteDialog = true"><v-icon>done_all</v-icon></v-btn>
      </v-toolbar>
      
      <v-layout class="pt-5">
        <v-flex>
          <v-card v-if="workout" flat>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">{{ workout.name }}</h3>
                <div> {{ workout.date | moment("dddd, MMMM Do YYYY, h:mm:ss a") }} </div>
              </div>

              <v-spacer></v-spacer>

              <v-menu bottom left>
                <template v-slot:activator="{ on }">
                  <v-btn
                    icon
                    v-on="on"
                  >
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                </template>

                <v-list>
                  <v-list-tile @click="timeDialog = true">
                    <v-list-tile-title>Adjust start/stop times</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>

              <AdjustWorkoutTimeDialog 
                :dialog="timeDialog"
                :active="true"
                :workoutStart="workout.startedAt"
                @confirmed="timeDialog = false"
                @cancelled="timeDialog = false"
              />
            </v-card-title>

            <ExerciseInput 
              :name="e.name"
              :exercise="e"
              :key="e.name + e.sets.length + index"
              :pkey="e.name + index"
              v-for="(e, index) in workout.exercises" 
              @updated="updateWorkout($event, index)"
              @delete="removeExercise(index)"
            />
          </v-card>
            <AddExerciseButton @selected="addExercises($event)"></AddExerciseButton>
        </v-flex>

        <v-snackbar
          v-model="snackbar"
          bottom
          right
          :timeout="1000"
        >
          {{ snackText }}
          <v-btn
            color="pink"
            flat
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </v-snackbar>
      </v-layout>
    </v-card>

    <ConfirmDialog
      :dialog="confirmCompleteDialog"
      confirmTxt="Complete"
      content="Are you sure you want to finish this workout? Any sets not checked will be removed."
      title="Complete Workout"
      @confirmed="finishWorkout()"
      @cancelled="confirmCompleteDialog = false"
    />
  </v-dialog>
</template>

<script>
import ExerciseInput from '../components/ExerciseInput.vue'
import AddExerciseButton from '../components/AddExerciseButton.vue'
import ConfirmDialog from '../components/ConfirmDialog.vue'
import AdjustWorkoutTimeDialog from '../components/AdjustWorkoutTimeDialog'
import { EventBus } from '../util/event-bus.js';

import workoutMixin from '../util/workout.mixin'

export default {
  components: {
    ExerciseInput,
    AddExerciseButton,
    ConfirmDialog,
    AdjustWorkoutTimeDialog,
  },
  mixins: [workoutMixin],
  props: {
    workout: Object,
    dialog: Boolean,
    duration: String,
  },
  data: () => ({
      snackbar: false,
      snackText: 'Removed!',
      timeout: null,
      confirmCompleteDialog: false,
      timeDialog: false,
  }),
  methods: {
      addExercises(exercises) {
          exercises.forEach(e => e.sets = [{ type: 'Normal', number: 1 }])

          const { workout } = this
          workout.exercises.push(...exercises)

          this.scheduleSave(workout)
      },
      updateWorkout(exercise, index) {
        this.workout.exercises[index] = exercise
        
        this.scheduleSave()
      },
      removeExercise(index) {
        this.workout.exercises.splice(index, 1)
        this.scheduleSave()
      },
      scheduleSave(pWorkout) {
          if (this.timeout) {
              clearTimeout(this.timeout)
          }

          this.saveWorkout(pWorkout ? pWorkout : this.workout)
              .then((updatedW) => {
                  // this.workout = updatedW
                  // this.snackText = 'Saved!'
                  // this.snackbar = true
                  this.$emit('workoutUpdated', updatedW)
              })
      },
      finishWorkout() {
        this.completeWorkout({...this.workout})
          .then((updatedW) => this.$emit('workoutUpdated', updatedW))
      }
  }
}
</script>

<style>
</style>
