<template>
  <v-layout column>
      <v-flex>
            <v-toolbar dark color="primary" fixed >
                <v-btn icon dark @click="$router.go(-1)">
                    <v-icon>keyboard_arrow_left</v-icon>
                </v-btn>
                <v-toolbar-title>{{ exercise ? exercise.name : '' }}</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
      </v-flex>
      <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-card v-if="exercise" flat>
                <v-tabs>
                    <v-tab>Statistics</v-tab>
                    <v-tab-item>
                        <v-layout column v-if="showStats">
                            <template v-if="exercise.type">
                                <template v-for="(statType, index) in exerciseStatMap[exercise.type]">
                                    <h2 :key="statType" class="display-3 font-weight-light">{{ prDisplayText[index] }}</h2>

                                    <v-sheet :key="statType + 'graph'" color="rgba(0, 0, 0, .12)" v-if="eData[`${statType}OverTime`] && eData[`${statType}OverTime`].length">
                                        <v-sparkline
                                            :value="eData[`${statType}OverTime`]"
                                            height="100"
                                            padding="24"
                                            smooth
                                            line-width="2"
                                            stroke-linecap="round"
                                            auto-draw
                                        >
                                            <template v-slot:label="item">
                                                {{ (Math.round(item.value)) === (Math.round(stats.prs[statType].val)) ? Math.round(item.value) : '' }}
                                            </template>
                                        </v-sparkline>
                                    </v-sheet>
                                </template>
                            </template>

                            <template v-else>
                                <template v-for="(type, index) in statTypes">
                                    <h2 :key="type" class="display-3 font-weight-light">{{ prDisplayText[index] }}</h2>

                                    <v-sheet :key="type + 'graph'" color="rgba(0, 0, 0, .12)" v-if="eData[`${type}OverTime`] && eData[`${type}OverTime`].length">
                                        <v-sparkline
                                            :value="eData[`${type}OverTime`]"
                                            height="100"
                                            padding="24"
                                            smooth
                                            line-width="2"
                                            stroke-linecap="round"
                                            auto-draw
                                        >
                                            <template v-slot:label="item">
                                                {{ (Math.round(item.value)) === (Math.round(stats.prs[type].val)) ? Math.round(item.value) : '' }}
                                            </template>
                                        </v-sparkline>
                                    </v-sheet>
                                </template>
                            </template>
                        </v-layout>
                    </v-tab-item>
                    
                    <v-tab>About</v-tab>
                    <v-tab-item>
                        <v-select
                            @change="updateExercise()"
                            :items="exerciseTypes"
                            label="Exercise Type"
                            v-model="exercise.type"
                            outlined
                        ></v-select>
                    </v-tab-item>
                    
                    <v-tab>History</v-tab>
                    <v-tab-item>
                        <ExerciseHistory
                            :stats="stats"
                            :workouts="descendingWorkouts"
                        />
                    </v-tab-item>
                </v-tabs>
            </v-card>
        </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
import workoutMixin from '../util/workout.mixin.js'

import ExerciseHistory from '../components/ExerciseHistory'

export default {
    mixins: [
        workoutMixin,
    ],
    components: {
        ExerciseHistory
    },
    created() {
        const id = atob(this.$route.params.id)

        this.getExercise(id)
            .then(e => this.exercise = e)
            .then(() => this.getStat(this.exercise.name))
            .then(s => this.stats = s)
            .then(this.fetchAllWorkouts)
            .then(this.plotGraphData)
            .catch(() => this.showStats = false)
    },
    data: () => ({
        showStats: false,
        exercise: null,
        stats: null,
        workouts: [],
        eData: { },
    }),
    computed: {
        descendingWorkouts: function() {
            return this.workouts.slice().reverse()
        }
    },
    methods: {
        fetchAllWorkouts() {
            return Promise.all(this.stats.workouts.map(this.getWorkout))
                .then(workouts => this.workouts = workouts)
        },
        updateExercise() {
            this.saveExercise(this.exercise)
                .then((ue) => this.exercise = ue)
        },
        plotGraphData() {
            const exerciseStats = this.stats
            if (exerciseStats) {
                var allExercises = []
                var filteredSets = []

                this.workouts.forEach(w => allExercises.push(...w.exercises))

                allExercises.filter(e => e.name === this.exercise.name)
                    .forEach(e => filteredSets.push(...e.sets))

                if (this.exercise.type) {
                    const statTypes = this.exerciseStatMap[this.exercise.type]
                    statTypes.forEach((type) => {
                        this.eData[`${type}OverTime`] = filteredSets.map((s, index) => {
                            const val = this.statConfig[type].formula(s)

                            if (!val) return false
                            if (index === 0) return val
                            else if (val !== this.statConfig[type].formula(filteredSets[index - 1])) return val
                            else return false
                        })
                        .filter(v => v !== false)

                        if (this.eData[`${type}OverTime`].length < 2) this.eData[`${type}OverTime`].unshift(0)
                    })
                }
                //TODO: Deprecated
                else {
                    this.statTypes.forEach((type) => {
                        this.eData[`${type}OverTime`] = filteredSets.map((s, index) => {
                            const val = this.statFormula[type](s)

                            if (!val) return false
                            if (index === 0) return val
                            else if (val !== this.statFormula[type](filteredSets[index - 1])) return val
                            else return false
                        })
                        .filter(v => v !== false)

                        if (this.eData[`${type}OverTime`].length < 2) this.eData[`${type}OverTime`].unshift(0)
                    })
                }

                this.showStats = true
            }

        }
    },
}
</script>

<style>

</style>
