<template>
    <v-layout row>
        <v-flex xs12 :sm6="!selectMode" :offset-sm3="!selectMode">
            <v-card flat>
                <v-list subheader>
                    <template v-for="(e, i) in exercises">
                        <v-subheader :key="i + e.name.substring(0, 1)" v-if="exerciseStartsWithNewLetter(e, i)">
                            {{ e.name.substring(0, 1) }}
                        </v-subheader>
                        
                        <v-list-tile :key="i + e.name + e.count" avatar @click="selectMode ? '': showExerciseStats(e)">
                            <!-- <v-list-tile-avatar> -->
                                <!-- <img :src="item.avatar"> -->
                            <!-- </v-list-tile-avatar> -->
                            <v-list-tile-action v-if="selectMode">
                                <v-checkbox v-model="e.selected" @change="updatedSelected(e)"></v-checkbox>
                            </v-list-tile-action>

                            <v-list-tile-content @click.prevent="e.selected = !e.selected">
                                <v-list-tile-title v-show="!e.count" v-html="e.name"></v-list-tile-title>
                                <v-list-tile-title v-show="e.count" v-html="`${e.name} <strong>(${e.count})</strong>`"></v-list-tile-title>
                            </v-list-tile-content>
                            
                            <v-list-tile-action>
                                <v-icon>keyboard_arrow_right</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </template>
                </v-list>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import Vue from 'vue'
import { EventBus } from '../util/event-bus.js'
import workoutMixin from '../util/workout.mixin.js'

export default {
    mixins: [workoutMixin],
    created: function () {
        EventBus.$on('clear-selection', () => this.clearSelection())
        EventBus.$on('new-exercise', () => this.load());

        this.load()
    },
    props: {
        selectMode: Boolean,
    },
    data: () => ({
        exercises: [],
        selected: [],
    }),
    methods: {
        load() {
            this.getMyExercises()
                .then((e) => this.exercises = e)
                .then(() => this.getMyStats())
                .then((stats) => {
                    this.exercises.forEach((e, i) => {
                        const stat = stats.find(s => s.exerciseName === e.name)
                        if (stat) {
                            e.count = stat.workouts.length
                            Vue.set(this.exercises, i, e)
                        }
                    })
                })
        },
        showExerciseStats(exercise) {
            this.$router.push(`/exercise/${btoa(exercise._id)}`)
        },
        exerciseStartsWithNewLetter(exercise, index) {
            const thisExerciseName = exercise.name
            const prevExerciseName = index > 0 ? this.exercises[index -1].name : ''
            return index == 0 || thisExerciseName.substring(0, 1) !== prevExerciseName.substring(0, 1)
        },
        updatedSelected(e) {
            if (e.selected) {
                this.selected.push(e)
            } else {
                this.selected.splice(this.selected.findIndex(s => s._id === e._id), 1)
            }

            this.$emit('selected', this.selected)
        },
        clearSelection() {
            this.exercises.forEach(e => e.selected = false)
            this.selected = []
        }
    },
}
</script>

<style>
.v-btn--bottom.v-btn--absolute,
.add-btn {
    bottom: 16px;
    right: 32px;
}
</style>
