<template>
  <v-container>
    <v-layout
      text-xs-center
      wrap
    >
      <v-flex xs12>
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>

      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to Strength
        </h1>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
        isAuthenticated: false,
    }),
    methods: {
        handleLoginEvent(data) {
            this.isAuthenticated = data.loggedIn
        },
    }
  }
</script>

<style>

</style>
