<template>
    <v-footer class="pa-3" fixed v-if="activeInfo && activeInfo.isActive">
        <v-btn
          icon
          @click.stop="dialog = true"
        >
          <v-icon>keyboard_arrow_up</v-icon>
        </v-btn>
        <div>
          <h4>{{activeWorkout ? activeWorkout.name + ' - ' : ''}}{{duration}}</h4>
        </div>
      <v-spacer></v-spacer>
        <v-btn
          icon
          @click="cancelActiveWorkout()"
        >
          <v-icon>clear</v-icon>
        </v-btn>

        <ActiveWorkout
            :dialog="dialog"
            :workout="activeWorkout"
            :duration="duration"
            @workoutUpdated="updateWorkout($event)"
            @close="dialog = false"
        />
    </v-footer>
</template>

<script>
import ActiveWorkout from '../views/ActiveWorkout.vue'

import { EventBus } from '../util/event-bus.js';
import workoutMixin from '../util/workout.mixin'
import { setInterval, clearInterval, clearTimeout } from 'timers';

export default {
    components: {
        ActiveWorkout,
    },
    mixins: [
        workoutMixin
    ],
    created() {
        EventBus.$on('active-workout', (active) => {
            this.load()
            if (active) this.dialog = true
        })
        EventBus.$on('cancel-active-workout', (active) => {
            this.cancelActiveWorkout()
        })
    },
    data: () => ({
        activeWorkout: null,
        dialog: false,
        activeInfo: null,
        timeout: null,
        duration: '',

        notifications: false,
        sound: true,
        widgets: false
    }),
    methods: {
        handleLoginEvent(data) {
            const { loggedIn } = data
            if (loggedIn) this.load()
        },
        load() {
            this.getActiveWorkoutInfo()
                .then((activeInfo) => {
                    this.activeInfo = activeInfo
                    if (activeInfo.isActive) {
                        this.getWorkout(activeInfo.activeWorkoutId)
                            .then((w) => {
                                this.activeWorkout = w
                                this.startTimer()
                            })
                    }

                    if (this.timeout && this.timeout.close) clearTimeout(this.timeout)
                })
        },
        updateWorkout(w) {
            if (w._id === this.activeWorkout._id) {
                const updateActiveInfo = this.activeWorkout.isActive && !w.isActive
                this.activeWorkout = w

                if (updateActiveInfo) {
                    this.activeInfo.isActive = false
                    this.saveActiveWorkoutInfo(this.activeInfo)
                        .then(() => EventBus.$emit('active-workout', false))
                }
            }
        },
        cancelActiveWorkout() {
            this.activeWorkout.isActive = false
            this.saveWorkout(this.activeWorkout)
                .then((uWorkout) => {
                    this.activeInfo.isActive = false
                    this.saveActiveWorkoutInfo(this.activeInfo)
                        .then(() => EventBus.$emit('active-workout', false))
                })
        },
        goTo(route) {
            this.$router.push(route)
        },
        startTimer() {
            this.duration = this.getDuration()
            this.timeout = setTimeout(() => this.startTimer(), 1000)
        },
        getDuration() {
            const startedAt = new Date(this.activeWorkout.date);
            const diffDate = new Date(new Date().getTime() - startedAt.getTime())
            const diffMs = new Date().getTime() - startedAt.getTime()
            const numH = Math.floor(diffMs / 3.6e+6)
            const numM = Math.floor((diffMs - (numH * 3.6e+6)) / 60000)
            const numS = Math.floor((diffMs - (numH * 3.6e+6) - (numM * 60000)) / 1000)

            
            return `${numH > 0 ? numH + ':' : '' }${numH > 0 ? numM > 9 ? numM : '0' + numM : numM}:${numS > 9 ? numS : '0' + numS}`
        },
    }
}
</script>

<style>

</style>
