<template>
    <v-dialog
        v-model="dialog" 
        persistent 
        :fullscreen="$vuetify.breakpoint.xsOnly"
        max-width="600px">
        <template v-slot:activator="{ on }">
            <v-btn block flat v-on="on">Add Exercise</v-btn>
        </template>

        <v-card v-if="!creating">
                <v-card-title primary-title>
                    <h3 class="headline mb-0">Exercises</h3>
                </v-card-title>

                <v-toolbar
                    light
                    dense
                >
                    <v-text-field
                        prepend-icon="search"
                        single-line
                        v-model="searchTxt"
                        @input="filter(searchTxt)"
                    ></v-text-field>

                    <v-btn icon @click="clearSearchTxt()">
                        <v-icon>clear</v-icon>
                    </v-btn>
                </v-toolbar>

                <v-card-text :class="{'scroll-area' : $vuetify.breakpoint.smAndUp, footer : $vuetify.breakpoint.xsOnly}">
                    <ExerciseLibrary
                        :selectMode="true"
                        @selected="selected = $event"
                    />

                </v-card-text>
        </v-card>


        <v-card v-else>
            <v-card-text>
                <CreateExerciseForm @changed="newExercise = $event" />
            </v-card-text>
        </v-card>

        
        <v-footer
            height="auto"
            :fixed="$vuetify.breakpoint.xsOnly"
        >
            
            <v-layout
                row
                wrap
            >
                <v-btn v-if="!creating" color="blue" flat @click="creating = true">Create New</v-btn>
                <v-spacer></v-spacer>
                
                <v-btn v-if="creating" color="blue darken-1" flat @click="closeCreateDialog()">Cancel</v-btn>
                <v-btn v-if="creating" :disabled="!newExercise" color="success" @click.stop="create()">Save</v-btn>

                <v-btn v-if="!creating" color="blue darken-1" flat @click="closeDialog()">Cancel</v-btn>
                <v-btn v-if="!creating" color="success" @click.stop="addExercises()">Add</v-btn>
            </v-layout>
        </v-footer>
    </v-dialog>
</template>

<script>
  import ExerciseSelect from './ExerciseSelect.vue'
  import ExerciseLibrary from '../views/ExerciseLibrary.vue'
  import CreateExerciseForm from './CreateExerciseForm.vue'
  import { EventBus } from '../util/event-bus.js'

  import workoutMixin from '../util/workout.mixin'
  
  export default {
    components: {
        ExerciseSelect,
        ExerciseLibrary,
        CreateExerciseForm,
    },
    mixins: [workoutMixin],
    created: function () {
        this.load()
    },
    data: () => ({
        dialog: false,
        creating: false,
        searchTxt: '',
        exercises: [],
        selected: [],
        newExercise: null
    }),
    methods: {
        load() {
            this.getMyExercises()
                .then((e) => this.exercises = e)
        },
        clearSearchTxt() {
            this.searchTxt = ''
            this.filter('')
        },
        closeDialog() {
            this.dialog = false
            this.clearSearchTxt()
            EventBus.$emit('clear-selection')
            this.selected = []
        },
        filter(txt) {
            if (txt && txt.length > 0) {
                this.exercises.forEach(e => {
                    if (e.name.toLowerCase().indexOf(txt.toLowerCase()) >= 0) {
                        e.hidden = false
                    } else {
                        e.hidden = true
                    }
                })
            } else {
                this.exercises.forEach(e => e.hidden = false)
            }
        },
        create() {
            this.saveExercise(this.newExercise)
                .then((sExercise) => {
                    sExercise.selected = true
                    const index = this.exercises.push(sExercise) - 1

                    this.closeCreateDialog()
                })
        },
        closeCreateDialog() {
            this.creating = false
            this.newExercise = null
        },
        addExercises() {
            this.load()
            this.$emit('selected', this.selected)
            this.closeDialog()
        },
    }
  }
</script>

<style>
.scroll-area {
    height: 500px;
    overflow-y: auto;
}

.footer {
    padding-bottom: 48px;
}
</style>
