<template>
    <v-dialog
        v-model="dialog"
        max-width="700"
        :fullscreen="$vuetify.breakpoint.xsOnly"
    >
        <v-card>
            <v-card-title class="headline">Adjust Workout Time</v-card-title>

            <v-card-text>
                <span>Duration: {{ duration }}</span>

                <v-container justify-space-between class="hidden-sm-and-down">
                    <v-layout column>
                        <h3>Date</h3>
                        <v-date-picker full-width landscape color="warning" v-model="date"></v-date-picker>
                    </v-layout>
                    <v-layout row>
                        <v-layout column>
                            <h3>Start</h3>
                            <v-time-picker :max="endTime" color="success" v-model="startTime"></v-time-picker>
                        </v-layout>
                        <v-layout column>
                            <h3>End</h3>
                            <v-time-picker :min="startTime" color="error" v-model="endTime"></v-time-picker>
                        </v-layout>
                    </v-layout>
                </v-container>

                <v-container justify-space-between class="hidden-md-and-up">
                    <v-layout column>
                        <v-menu
                            ref="dateMenu"
                            v-model="dateMenu"
                            :close-on-content-click="false"
                            :nudge-right="20"
                            :return-value.sync="date"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="date"
                                    label="Date"
                                    prepend-icon="event"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker v-model="date" color="warning" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="dateMenu = false">Cancel</v-btn>
                                <v-btn flat color="primary" @click="$refs.dateMenu.save(date)">OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-layout>
                    <v-layout column>
                        <v-menu
                            ref="startTimeMenu"
                            v-model="startTimeMenu"
                            :close-on-content-click="false"
                            :nudge-right="20"
                            :return-value.sync="startTime"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            max-width="290px"
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="startTime"
                                    label="Start"
                                    prepend-icon="access_time"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                                <v-time-picker
                                v-if="startTimeMenu"
                                v-model="startTime"
                                :max="endTime"
                                full-width
                                color="success"
                                @click:minute="$refs.startTimeMenu.save(startTime)"
                            >
                                <v-spacer></v-spacer>
                                <v-btn flat color="success" @click="startTimeMenu = false">Cancel</v-btn>
                                <v-btn flat color="success" @click="$refs.startTimeMenu.save(startTime)">OK</v-btn>
                            </v-time-picker>
                        </v-menu>
                    </v-layout>
                    <v-layout column>
                        <v-menu
                            ref="endTimeMenu"
                            v-model="endTimeMenu"
                            :close-on-content-click="false"
                            :nudge-right="20"
                            :return-value.sync="endTime"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            max-width="290px"
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="endTime"
                                    label="End"
                                    prepend-icon="access_time"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                                <v-time-picker
                                v-if="endTimeMenu"
                                v-model="endTime"
                                :min="startTime"
                                full-width
                                color="error"
                                @click:minute="$refs.startTimeMenu.save(endTimeMenu)"
                            >
                                <v-spacer></v-spacer>
                                <v-btn flat color="error" @click="endTimeMenu = false">Cancel</v-btn>
                                <v-btn flat color="error" @click="$refs.endTimeMenu.save(endTime)">OK</v-btn>
                            </v-time-picker>
                        </v-menu>
                    </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="green darken-1"
                    flat="flat"
                    @click="$emit('cancelled')"
                >
                    Cancel
                </v-btn>

                <v-btn
                    color="green darken-1"
                    flat="flat"
                    @click="confirmNewTime()"
                >
                    Confirm
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    created() {
        if (this.workoutStart) {
            const date = new Date(this.workoutStart)
            this.date = date.toISOString().substring(0, 10)
            this.startTime = `${date.getHours()}:${date.getMinutes()}`
        }
        
        const date = new Date(this.workoutEnd ? this.workoutEnd : this.workoutStart)
        this.date = date.toISOString().substring(0, 10)
        this.endTime = `${date.getHours()}:${date.getMinutes()}`
    },
    props: {
        dialog: Boolean,
        active: Boolean,
        workoutStart: String,
        workoutEnd: String,
    },
    data: () => ({
        dateMenu: false,
        date: null,
        startTimeMenu: false,
        startTime: null,
        endTimeMenu: false,
        endTime: null,
        duration: '0 m'
    }),
    methods: {
        confirmNewTime() {
            const newStartDate = new Date(`${this.date}T${this.parseTime(this.startTime)}`)
            const newEndDate = new Date(`${this.date}T${this.parseTime(this.endTime)}`)

            this.$emit('confirmed', {newStartDate, newEndDate})
        },
        parseTime(timeString) {
            const colonIndex = timeString.indexOf(':')
            const hStr = timeString.substring(0, colonIndex)
            const hLength = hStr.length
            const timeHours = hLength === 0 ? `0${hStr}` : hStr
            const timeMins = timeString.substring(timeString.indexOf(':') + 1)

            return `${timeHours}:${timeMins}:00`
        }
    }
}
</script>

<style>
.v-date-picker-title__date {
  font-size: 48px;
}
</style>
