<template>
    <v-toolbar app :flat="flat" color="white">
        <v-toolbar-side-icon
            v-if="isAuthenticated"
            @click="showNavMenu = true">
        </v-toolbar-side-icon>

        <v-menu
            v-model="showNavMenu"
            absolute
            offset-y
        >
            <v-list>
                <v-list-tile @click="goTo('/')">
                    <v-list-tile-title>Home</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="goTo('/workouts')">
                    <v-list-tile-title>Workouts</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="goTo('/exercises')">
                    <v-list-tile-title>Exercises</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>

        <v-toolbar-title class="headline text-uppercase">
            <span class="font-weight-light">Strength</span>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn
            v-if="!isAuthenticated"
            @click="$auth.login()"
            flat
        >
            Log in
        </v-btn>

        <v-menu
            v-if="isAuthenticated"
            transition="slide-y-transition"
            bottom
        >
            <template v-slot:activator="{ on }">
                <v-btn icon v-on="on">
                    <v-avatar
                        :size="38"
                        color="grey lighten-4"
                    >
                        <img :src="profile.picture" alt="avatar">
                    </v-avatar>
                </v-btn>
            </template>
            
            <v-list>
                <v-list-tile>
                    <v-list-tile-title>{{ profile.name }}</v-list-tile-title>
                </v-list-tile>
                <v-divider></v-divider>
                <v-list-tile @click="logout()">
                    <v-list-tile-title>Logout</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
    </v-toolbar>
</template>

<script>
export default {
    props: {
        flat: Boolean,
    },
    data: () => ({
        isAuthenticated: false,
        profile: {},
        showNavMenu: false,
        showProfileMenu: false,
    }),
    methods: {
        handleLoginEvent(data) {
            this.isAuthenticated = data.loggedIn
            this.profile = data.profile
            this.$db.setupRemoteSync(this.$auth.getUserId())
        },
        logout() {
            this.$auth.logOut()
            this.$router.push('/')
        },
        goTo(route) {
            this.$router.push(route)
        },
    },
}
</script>
