<template>
  <v-form v-model="valid" ref="form">
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field
              label="Name"
              v-model="name"
              :rules="nameRules"
              required
              @change="checkChange"
          ></v-text-field>
        </v-flex>

        <v-flex xs12>
          <v-select
              :items="exerciseTypes"
              :rules="[v => !!v || 'Item is required']"
              label="Exercise Type"
              v-model="type"
              outlined
              required
              @change="checkChange"
          ></v-select>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import Vue from 'vue'
import exerciseMixin from '../util/exercise.mixin.js'

export default {
  mixins: [exerciseMixin],
  data: () => ({
    valid: false,
    name: '',
    type: '',
    nameRules: [
      v => !!v || 'Name is required',
      v => v.length <= 50 || 'Name must be less than 50 characters'
    ]
  }),
  methods: {
    checkChange() {
      Vue.nextTick()
        .then(this.validateForm)
        .then(this.sendChangeIfValid)
    },
    sendChangeIfValid() {
      if (this.valid) {
        const { name, type } = this
        this.$emit('changed', { name, type })
      }
    },
    validateForm() {
      this.$refs.form.validate()
    }
  }
}
</script>

<style>
</style>
