<template>
  <v-layout row justify-center>
    <v-btn
        icon
        flat
        @click.stop="checkIfNeedConfirm()"
        style="padding: 0;
            margin: 0;
            min-width: 36px;"
    >
        <v-icon>delete</v-icon>
    </v-btn>

    <ConfirmDialog
      :dialog="dialog"
      confirmTxt="Delete"
      content="Are you sure you want to delete this set?"
      title="Delete Set"
      @confirmed="confirmDelete()"
      @cancelled="dialog = false"
    />
  </v-layout>
</template>

<script>
import ConfirmDialog from './ConfirmDialog'

export default {
    components: {
        ConfirmDialog
    },
    props: {
        requiresConfirmation: Function
    },
    data: () => ({
        dialog: false,
    }),
    methods: {
        checkIfNeedConfirm() {
            if (this.requiresConfirmation()) {
                this.dialog = true
            } else {
                this.confirmDelete()
            }
        },
        confirmDelete() {
            this.$emit('deleteConfirmed')
            this.dialog = false
        },
    }
}
</script>

<style>

</style>
