<template>
  <v-layout>
    <v-flex v-if="workouts && workouts.length">
      <v-card flat v-for="w in workouts" :key="w._id">
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{ w.name }}</h3>
            <div>{{ w.date | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</div>
          </div>
        </v-card-title>

        <v-toolbar class="elevation-0" dense>
          <v-layout row wrap text-xs-center>
            <v-flex xs4>Volume</v-flex>
            <v-flex xs4>Duration</v-flex>
            <v-flex xs4>PRs</v-flex>
          </v-layout>
        </v-toolbar>


        <v-card-text>
          <ExtendedExerciseSummary 
            :exercise="e"
            :key="index" 
            v-for="(e, index) in w.exercises.filter(e => e.name === stats.exerciseName)" 
          />
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import ExtendedExerciseSummary from './ExtendedExerciseSummary.vue'

  import workoutMixin from '../util/workout.mixin'
  
  export default {
    components: {
      ExtendedExerciseSummary,
    },
    mixins: [workoutMixin],
    props: {
        stats: Object,
        workouts: Array,
    },
    data: () => ({ }),
    methods: { }
  }
</script>

<style>

</style>
