<template>
  <v-layout row>
    <v-flex>
      {{ numSets }} x {{ exercise.name }}
    </v-flex>
    <v-flex style="text-align: end;">
      {{ summary }}
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    created: function () {
        // TODO: Find if PR? Keep track of PRs with user info.
        // TODO: PR Types (Volume, Reps, 1RM)

        this.numSets = this.exercise.sets.length;
        const lastSet = this.exercise.sets[this.numSets - 1];
        this.summary = `${lastSet.weight} lbs x ${lastSet.reps}`
    },
    props: {
        exercise: Object,
    },
    data: () => ({
        numSets: 0,
        summary: ''
    }),
    methods: { }
  }
</script>

<style>

</style>
