<template>
    <v-list subheader>
        <v-subheader>Exercises</v-subheader>

        <v-list-tile @click="" :key="index" v-for="(e, index) in exercises">
            <v-list-tile-action>
                <v-checkbox v-model="e.selected"></v-checkbox>
            </v-list-tile-action>

            <v-list-tile-content @click="e.selected = !e.selected">
                <v-list-tile-title>{{e.name}}</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
</template>

<script>
import workoutMixin from '../util/workout.mixin.js'

const defaultExercises = [
    { name : 'Bench Press' },
    { name : 'Squat' },
    { name : 'Deadlift' }
];

export default {
    mixins: [workoutMixin],
    created: function () {
        this.getMyExercises()
            .then((e) => {
                this.exercises = e
                if (e.length === 0) {
                    Promise.all(
                        defaultExercises.map(e => this.saveExercise(e))
                    )
                    .then((e) => {
                        console.log(e)
                        this.exercises = defaultExercises
                    });
                }
            })
    },
    props: {
    },
    data: () => ({
        exercises: defaultExercises
    }),
    methods: { }
}
</script>

<style>

</style>
