<template>
  <v-layout>
    <v-flex>
      <v-card v-if="pkey" flat>
        <v-card-title primary-title>
          <h3 class="headline mb-0">{{ name }}</h3>

          <v-spacer></v-spacer>

          <v-menu bottom left>
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                v-on="on"
              >
                <v-icon>more_vert</v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-tile
                @click="$emit('delete',{})"
              >
                <v-list-tile-title>Delete</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-card-title>

        <v-card-text>
          <template v-if="exercise.type === 'Weighted bodyweight'">
            <BodyweightInput
              :pkey="pkey"
              :exercise="exercise"
              @updated="updated($event)"
            />
          </template>
          <template v-else-if="exercise.type === 'Assisted bodyweight'">
            <BodyweightInput
              :pkey="pkey"
              :exercise="exercise"
              :assisted="true"
              @updated="updated($event)"
            />
          </template>
          <template v-else-if="isWeightedExercise(exercise.type)">
            <WeightedInput
              :pkey="pkey"
              :exercise="exercise"
              @updated="updated($event)"
            />
          </template>
          <template v-else-if="exercise.type === 'Reps Only'">
            <RepsOnlyInput
              :pkey="pkey"
              :exercise="exercise"
              @updated="updated($event)"
            />
          </template>
          <template v-else-if="exercise.type === 'Cardio'">
            <CardioInput
              :pkey="pkey"
              :exercise="exercise"
              @updated="updated($event)"
            />
          </template>
          <template v-else-if="exercise.type === 'Duration'">
            <TimeOnlyInput
              :pkey="pkey"
              :exercise="exercise"
              @updated="updated($event)"
            />
          </template>
          <template v-else>
            <WeightedInput
              :pkey="pkey"
              :exercise="exercise"
              @updated="updated($event)"
            />
          </template>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import BodyweightInput from './inputTypes/BodyweightInput.vue'
  import WeightedInput from './inputTypes/WeightedInput.vue'
  import RepsOnlyInput from './inputTypes/RepsOnlyInput.vue'
  import TimeOnlyInput from './inputTypes/TimeOnlyInput.vue'
  import CardioInput from './inputTypes/CardioInput.vue'

  import exerciseMixin from '../util/exercise.mixin.js'

  export default {
    mixins: [exerciseMixin],
    components: {
        WeightedInput,
        BodyweightInput,
        RepsOnlyInput,
        TimeOnlyInput,
        CardioInput,
    },
    props: {
        name: String,
        exercise: Object,
        pkey: String,
    },
    data: () => ({
        nameRules: [
            v => !!v || 'Name is required',
            v => v.length <= 10 || 'Name must be less than 10 characters'
        ],
        dialog: false,
    }),
    methods: {
      updated(sets) {
        this.$emit('updated', { ...this.exercise, sets})
      }
    }
  }
</script>

<style>

</style>
