<template>
  <v-list two-line>
    <template v-for="(s, index) in exercise.sets">
      <v-list-tile
        :key="index" style="height: auto;"
      >
        <v-list-tile-content style="height: auto;">
          <v-list-tile-title>{{exercise.name}} - {{s.weight}} lbs x {{s.reps}}</v-list-tile-title>
          <div v-if="pr[index]">
          <v-layout row>
            <template v-for="_pr in prs[index]">
              <v-chip :key="_pr + index" v-if="s.prs[_pr]">{{_pr}}</v-chip>
            </template>
          </v-layout>
          </div>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</template>

<script>
  export default {
    props: {
        exercise: Object,
    },
    created() {
      this.exercise.sets.forEach((s, index) => {
        this.pr[index] = this.hasPr(s)
        this.prs[index] = this.getPrList(s)
      })
    },
    data: () => ({
      prs: {},
      pr: {},
    }),
    methods: {
      hasPr(set) {
        return set.prs && Object.keys(set.prs).length
      },
      getPrList(set) {
        return set.prs ? Object.keys(set.prs) : []
      }
    }
  }
</script>

<style>

</style>
