<template>
    <v-dialog
        v-model="dialog"
        max-width="290"
    >
        <v-card>
            <v-card-title class="headline">Upload File</v-card-title>

            <v-card-text>
                <input type="file" @change="loadTextFromFile">
            </v-card-text>

            <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
                color="green darken-1"
                flat="flat"
                @click="$emit('cancelled')"
            >
                Cancel
            </v-btn>

            <v-btn
                color="green darken-1"
                flat="flat"
                :disabled="!fileText"
                @click="$emit('load', fileText)"
            >
                {{confirmTxt}}
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: {
        dialog: Boolean,
        confirmTxt: {
            type: String,
            default: 'Confirm',
        },
        cancelTxt: {
            type: String,
            default: 'Cancel',
        },
        content: {
            type: String,
            default: 'Are you sure?',
        },
        title: {
            type: String,
            default: 'Please confirm',
        },
    },
    data: () => ({
        fileText: false,
    }),
    methods: {
        loadTextFromFile(ev) {
            const file = ev.target.files[0]
            const reader = new FileReader()

            reader.onload = (e) => this.fileText = e.target.result
            reader.readAsText(file)
        }
    }
}
</script>

<style>

</style>
