<template>
    <v-layout>
        <v-btn
            fixed
            dark
            fab
            bottom
            right
            color="blue"
            v-if="!activeWorkout"
            @click.stop="showDialog()"
        >
            <v-icon>add</v-icon>
        </v-btn>

        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Start Workout</span>
                </v-card-title>
                
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field
                                v-model="newWorkoutName"
                                label="Workout name*" 
                                required>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-autocomplete
                            :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
                            label="Template"
                            multiple
                            ></v-autocomplete>
                        </v-flex>
                        </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    
                    <v-btn color="blue darken-1" flat @click="dialog = false">Cancel</v-btn>
                    <v-btn color="success" @click.stop="startWorkout(newWorkoutName)">Start</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
  import { EventBus } from '../util/event-bus.js';

  import workoutMixin from '../util/workout.mixin'
  
  export default {
    mixins: [workoutMixin],
    created: function () {
        this.load()
        EventBus.$on('active-workout', (active) => {
            this.activeWorkout = active
        })
    },
    data: () => ({
        activeWorkout: false,
        dialog: false,
        newWorkoutName: '',
    }),
    methods: {
        load() {
            this.getDoc('active|Aaron')
                .then((ai) => this.activeWorkout = ai.isActive)
        },
        showDialog() {
            const nowH = new Date().getHours()
            if (nowH < 12) {
                this.newWorkoutName = 'Morning Workout'
            } else if (nowH > 12 && nowH <= 18) {
                this.newWorkoutName = 'Afternoon Workout'
            } else if (nowH > 18) {
                this.newWorkoutName = 'Evening Workout'
            }

            this.dialog = true
        },
        startWorkout(name) {
            const workout = { 
              name,
              date: new Date(),
              startedAt: new Date(),
              duration: 0,
              totalVolume: 0,
              numPrs: 0,
              isActive: true,
              exercises: []
            }

            const settingsId = `active|${'Aaron'}`

            this.saveWorkout(workout)
                .then(newWorkout => {
                    EventBus.$emit('newWorkout', newWorkout)

                    this.getDoc(settingsId)
                        .then((settingsDoc) => {
                            settingsDoc.isActive = true
                            settingsDoc.activeWorkoutId = newWorkout._id
                            this.saveDoc(settingsDoc)
                                .then(this.broadcast(true))
                        })
                        .catch((err) => {
                            if (err.status === 404) {
                                this.saveDoc({
                                    _id: settingsId, 
                                    isActive: true,
                                    activeWorkoutId: newWorkout._id
                                })
                                .then(this.broadcast(true))
                            }
                        })
                })
                .catch(console.error)
        },
        broadcast(val) {
            this.dialog = false
            EventBus.$emit('active-workout', val)
        },
    }
  }
</script>

<style>

</style>
