<template>
    <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card>
            <v-card-title>
                <span class="headline">Start Workout</span>
            </v-card-title>
            
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                    <v-flex xs12>
                        <v-text-field
                            v-model="newWorkoutName"
                            label="Workout name*" 
                            required>
                        </v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-autocomplete
                        :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
                        label="Template"
                        multiple
                        ></v-autocomplete>
                    </v-flex>
                    </v-layout>
                </v-container>
                <small>*indicates required field</small>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                
                <v-btn color="blue darken-1" flat @click="closeDialog()">Cancel</v-btn>
                <v-btn color="success" @click.stop="startWorkout(newWorkoutName)">Start</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>


<script>
export default {
    created: function () {
        const nowH = new Date().getHours()
        if (nowH < 12) {
            this.newWorkoutName = 'Morning Workout'
        } else if (nowH > 12 && nowH <= 18) {
            this.newWorkoutName = 'Afternoon Workout'
        } else if (nowH > 18) {
            this.newWorkoutName = 'Evening Workout'
        }
    },
    props: {
        dialog: Boolean,
    },
    data: () => ({
        newWorkoutName: '',
    }),
    methods: {
        startWorkout(name) {
            const workout = { 
                name,
                date: new Date(),
                startedAt: new Date(),
                duration: 0,
                totalVolume: 0,
                numPrs: 0,
                isActive: true,
                exercises: []
            }

            this.$emit('startWorkout', workout)
        },
        closeDialog() {
            this.$emit('close')
        },
    }
}
</script>

<style>

</style>
