<template>
    <v-menu bottom left>
        <template v-slot:activator="{ on }">
            <v-btn
                flat
                v-on="on"
                style="padding: 0;
                    margin: 0;
                    min-width: 36px;"
            >
                {{ getDisplayString(type) }}
            </v-btn>
        </template>

        <v-list>
            <v-list-tile
                :key="st"
                v-for="st in setTypes"
                @click="setTypeSelected(st)"
            >
                <v-list-tile-title>{{st}}</v-list-tile-title>
            </v-list-tile>
        </v-list>
    </v-menu>
</template>

<script>
export default {
    props: {
        type: String,
        number: Number,
    },
    data: () => ({
        setTypes: [
            'Normal', 'Warm up', 'Failure', 'Drop set'
        ]
    }),
    methods: {
        getDisplayString(setType) {
            switch(setType) {
                case 'Normal':
                    return this.number
                case 'Warm up':
                    return 'W'
                case 'Failure':
                    return 'F'
                case 'Drop set':
                    return 'D'
            }
        },
        setTypeSelected(setType) {
            this.$emit('selected', setType)
        },
    }
}
</script>

<style>

</style>
