<template>
    <v-layout>
        <v-speed-dial
        v-model="fab"
        fixed
        bottom
        right
        direction="left"
        transition="slide-x-transition"
        >
        <template v-slot:activator>
            <v-btn
            v-if="!activeWorkout"
            v-model="fab"
            color="blue darken-2"
            dark
            fab
            >
            <v-icon>fitness_center</v-icon>
            <v-icon>close</v-icon>
            </v-btn>
        </template>
        <v-btn
            fab
            dark
            small
            color="warning"
            @click="recalculateStatistics()"
            v-if="$allowRecalculate || $isDev"
        >
            <v-icon>assessment</v-icon>
        </v-btn>
        <v-btn
            fab
            dark
            small
            color="warning"
            @click="uploadDialog = true"
            v-if="$allowImportExport || $isDev"
        >
            <v-icon>cloud_upload</v-icon>
        </v-btn>
        <v-btn
            fab
            dark
            small
            color="warning"
            @click="showDownloadDialog()"
            v-if="$allowImportExport || $isDev"
        >
            <v-icon>cloud_download</v-icon>
        </v-btn>
        <v-btn
            fab
            dark
            small
            color="indigo"
            @click="showDialog()"
        >
            <v-icon>add</v-icon>
        </v-btn>
        <v-btn
            fab
            dark
            small
            color="red"
        >
            <v-icon>delete</v-icon>
        </v-btn>
        </v-speed-dial>
        <NewWorkoutDialog
            :dialog="dialog"
            @close="dialog = false"
            @startWorkout="startWorkout"
        />

        <ConfirmDialog
            :dialog="downloadDialog"
            confirmTxt="Download"
            content="Do you want to download all workout information?"
            title="Download Workout Data"
            @confirmed="downloadWorkouts()"
            @cancelled="downloadDialog = false"
        />

        <FileUploadDialog 
            :dialog="uploadDialog"
            @load="importWorkouts"
            @cancelled="uploadDialog = false"
        />
    </v-layout>
</template>

<script>
  import { EventBus } from '../util/event-bus.js';
  import NewWorkoutDialog from './NewWorkoutDialog.vue'
  import ConfirmDialog from './ConfirmDialog.vue'
  import FileUploadDialog from './FileUploadDialog.vue'

  import workoutMixin from '../util/workout.mixin'
  
  export default {
    components: {
        NewWorkoutDialog,
        ConfirmDialog,
        FileUploadDialog,
    },
    mixins: [workoutMixin],
    created: function () {
        this.load()
        EventBus.$on('active-workout', (active) => {
            this.activeWorkout = active
        })
    },
    data: () => ({
        activeWorkout: false,
        dialog: false,
        newWorkoutName: '',
        downloadDialog: false,
        uploadDialog: false,
        fab: false,
    }),
    methods: {
        load() {
            this.getActiveWorkoutInfo()
                .then((ai) => this.activeWorkout = ai.isActive)
        },
        showDialog() {
            this.dialog = true
        },
        showDownloadDialog() {
            this.downloadDialog = true
        },
        downloadWorkouts() {
            this.downloadDialog = false
            this.getMyWorkouts()
                .then((workouts) => {
                    workouts.forEach(w => {
                        delete w._id
                        delete w._rev
                    })
                    const filename = "workouts.json"
                    const text = JSON.stringify({workouts})
                    
                    var element = document.createElement('a');
                    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                    element.setAttribute('download', filename);

                    element.style.display = 'none';
                    document.body.appendChild(element);

                    element.click();

                    document.body.removeChild(element);
                })
        },
        importWorkouts(fileText) {
            this.uploadDialog = false
            const fileObj = JSON.parse(fileText)
            if (fileObj && fileObj.workouts) {
                fileObj.workouts.forEach((w) => {
                    this.saveWorkout(w)
                        .then(console.log)
                        .catch((err) => {
                            if (err.name === 'conflict') {
                                console.log('Already exists')
                            }
                        })
                })
            }
        },
        startWorkout(workout) {
            this.saveWorkout(workout)
                .then(newWorkout => {
                    EventBus.$emit('newWorkout', newWorkout)

                    this.getActiveWorkoutInfo()
                        .then((settingsDoc) => {
                            settingsDoc.isActive = true
                            settingsDoc.activeWorkoutId = newWorkout._id
                            this.saveActiveWorkoutInfo(settingsDoc)
                                .then(this.broadcast(true))
                        })
                        .catch((err) => {
                            if (err.status === 404) {
                                this.saveActiveWorkoutInfo({
                                    isActive: true,
                                    activeWorkoutId: newWorkout._id
                                })
                                .then(this.broadcast(true))
                            }
                        })
                })
                .catch(console.error)
        },
        broadcast(val) {
            this.dialog = false
            EventBus.$emit('active-workout', val)
        },
    }
  }
</script>

<style>

</style>
