<template>
    <v-container>
        <v-layout row wrap text-xs-center>
            <v-flex xs2>#</v-flex>
            <v-flex xs4>{{ assisted ? '-' : '+' }}LBS</v-flex>
            <v-flex xs4>REPS</v-flex>
            <v-flex xs1><v-icon>done</v-icon></v-flex>
            <v-flex xs1></v-flex>
        </v-layout>
        <v-layout text-xs-center :key="pkey + index" v-for="(s, index) in exercise.sets">
            <v-layout row wrap text-xs-center>
                <v-flex xs2 style="align-self: center;">
                    <SetTypeButton 
                        :type="s.type"
                        :number="s.number"
                        @selected="updateSetType($event, index)"
                    />
                </v-flex>
                <v-flex xs4 style="padding-right: 4px;">
                    <v-text-field
                        @change="scheduleBroadcast()"
                        type="number"
                        v-model="s.weight"
                        step="5"
                        :min="min"
                        :max="max"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex xs4 style="padding-left: 4px;">
                    <v-text-field
                        @change="scheduleBroadcast()"
                        type="number"
                        v-model="s.reps"
                        :min="min"
                        :max="max"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex xs1>
                    <v-checkbox
                        style="justify-content: center;"
                        @change="scheduleBroadcast()"
                        v-model="s.complete"
                    ></v-checkbox>
                </v-flex>
                <v-flex xs1 style="align-self: center;">
                    <DeleteSetButton
                        :requiresConfirmation="() => deleteRequiresConfirm(s)"
                        @deleteConfirmed="deleteSet(index)"
                    />
                </v-flex>
            </v-layout>
        </v-layout>

        <v-btn block flat @click="addSet()">Add Set</v-btn>
    </v-container>
</template>

<script>
  import SetTypeButton from '../SetTypeButton.vue'
  import DeleteSetButton from '../DeleteSetButton.vue'

  import exerciseMixin from '../../util/exercise.mixin.js'

  export default {
    mixins: [exerciseMixin],
    components: {
        SetTypeButton,
        DeleteSetButton,
    },
    props: {
        exercise: Object,
        pkey: String,
        assisted: Boolean,
    },
    data: () => ({
        dialog: false,
        min: 0,
        max: 0,
    }),
    created () {
        this.min = this.assisted ? Number.NEGATIVE_INFINITY : 0
        this.max = this.assisted ? 0 : Number.POSITIVE_INFINITY
    },
    methods: {
        addSet() {
            const lastSet = this.exercise.sets[this.exercise.sets.length - 1]
            const newSet = { type: 'Normal' }

            if (lastSet) {
              newSet.weight = lastSet.weight
              newSet.reps = lastSet.reps
            }

            this.exercise.sets.push(newSet)
            this.reNumberSets()
            this.scheduleBroadcast()
        },
        deleteRequiresConfirm(set) {
          return set.complete || set.weight || set.reps
        },
        reNumberSets() {
          var setNum = 1
          this.exercise.sets.forEach(s => {
            if (s.type === 'Normal') {
              s.number = setNum++
            }
          })
        },
        deleteSet(index) {
            this.exercise.sets.splice(index, 1)
            this.reNumberSets()
            this.scheduleBroadcast()
        },
        updateSetType(setType, index) {
            this.exercise.sets[index].type = setType
            this.reNumberSets()
            this.scheduleBroadcast()
        },
        scheduleBroadcast() {
            this.$emit('updated', this.exercise.sets)
        },
    }
  }
</script>

<style>

</style>
