<template>
  <v-app>
    <AppBar :flat="offsetTop === 0"></AppBar>

    <v-content v-scroll="onScroll" :class="{ footer : active}">
      <router-view></router-view>
    </v-content>
    <ActiveWorkoutFooter />
  </v-app>
</template>

<script>
import AppBar from './components/AppBar'
import ActiveWorkoutFooter from './components/ActiveWorkoutFooter'

import workoutMixin from './util/workout.mixin.js'
import { EventBus } from './util/event-bus.js'

export default {
  name: 'App',
  components: {
    AppBar,
    ActiveWorkoutFooter,
  },
  mixins: [workoutMixin],
  async created() {

    try {
      await this.$auth.renewTokens()
      EventBus.$on('active-workout', (active) => {
          this.active = active
      })
      this.getActiveWorkoutInfo()
        .then((activeInfo) => {
            this.active = activeInfo.isActive
        })
    } catch {
      // Supress the 'not logged in' error as we can illegitimately get that
      // when processing the callback url
    }
  },
  data () {
    return {
      offsetTop: 0,
      active: false,
    }
  },
  methods: {
    onScroll (e) {
        this.offsetTop = e.target.scrollingElement.scrollTop
    },
  },
}
</script>

<style scoped>
.footer {
    padding-bottom: 48px !important;
}
</style>
